In [1]:
# install if needed (uncomment to run)
# !pip install scikit-learn pandas numpy sqlalchemy psycopg2-binary python-dotenv matplotlib

import os
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import IsolationForest
from sqlalchemy import create_engine
from dotenv import load_dotenv

load_dotenv()

True

In [3]:
%%writefile .env
DELHI_DB=postgresql://postgres:DelhiBranch.01@db.lojhymwazlofficptjcy.supabase.co:5432/postgres
MUMBAI_DB=postgresql://postgres:MumbaiBranch.01@db.bvnkorfmorhvpprwbdwv.supabase.co:5432/postgres
MODEL_PATH=bank_project/models/iso_model.pkl

Overwriting .env

In [5]:
# Configure these environment variables in your .env or replace strings below.
from dotenv import load_dotenv
import os

load_dotenv()

print("DELHI_DB:", bool(os.getenv("DELHI_DB")))
print("MUMBAI_DB:", bool(os.getenv("MUMBAI_DB")))
print("MODEL_PATH:", os.getenv("MODEL_PATH"))

DELHI_DB: True
MUMBAI_DB: True
MODEL_PATH: bank_project/models/iso_model.pkl

In [13]:
FEATURE_COLS = ['amount', 'hour', 'txn_freq_10min', 'daily_sum', 'balance', 'txn_type_encoded', 'branch_id']

def load_features_from_db(conn_url, branch_id):
    engine = create_engine(conn_url)
    query = """
    WITH t AS (
      SELECT tx.txn_id, tx.customer_id, tx.txn_type, tx.amount, tx.txn_time, a.balance
      FROM transactions tx
      LEFT JOIN account a ON a.customer_id = tx.customer_id
    )
    SELECT
      txn_id,
      customer_id,
      EXTRACT(HOUR FROM txn_time) AS hour,
      COALESCE(amount,0) AS amount,
      (SELECT COUNT(*) FROM transactions tx2
       WHERE tx2.customer_id = t.customer_id
         AND tx2.txn_time BETWEEN t.txn_time - INTERVAL '10 minutes' AND t.txn_time
      )::int AS txn_freq_10min,
      (SELECT COALESCE(SUM(amount),0) FROM transactions tx3
       WHERE tx3.customer_id = t.customer_id
         AND DATE(tx3.txn_time) = DATE(t.txn_time)
      ) AS daily_sum,
      COALESCE(balance,0) as balance,
      CASE WHEN txn_type ILIKE 'withdraw%' THEN 1 ELSE 0 END AS txn_type_encoded
    FROM t;
    """
    df = pd.read_sql(query, engine)
    df['branch_id'] = branch_id
    engine.dispose()
    return df

In [15]:
from dotenv import load_dotenv

env_path = r"C:\Users\VICTUS\BANKING SYSTEM\bank_project\.env"
load_dotenv(env_path, override=True)

print("DELHI_DB:", os.getenv("DELHI_DB"))
print("MUMBAI_DB:", os.getenv("MUMBAI_DB"))

DELHI_DB: postgresql://postgres:DelhiBranch.01@db.lojhymwazlofficptjcy.supabase.co:5432/postgres
MUMBAI_DB: postgresql://postgres:MumbaiBranch.01@db.bvnkorfmorhvpprwbdwv.supabase.co:5432/postgres

### Loading Data

In [41]:
import pandas as pd
from sqlalchemy import create_engine

def load_features_from_db(conn_url, branch_id):
    engine = create_engine(conn_url)

    query = """
    WITH t AS (
      SELECT 
        tx.txn_id,
        tx.customer_id,
        tx.txn_type,
        tx.amount,
        tx.txn_time,
        a.balance
      FROM transactions tx
      LEFT JOIN account a ON tx.customer_id = a.customer_id
    )
    SELECT
      txn_id,
      customer_id,
      amount,
      EXTRACT(EPOCH FROM txn_time) AS txn_timestamp,
      balance,
      CASE 
        WHEN txn_type = 'deposit' THEN 1
        WHEN txn_type = 'withdraw' THEN -1
        ELSE 0
      END AS txn_type_num
    FROM t;
    """

    df = pd.read_sql(query, engine)
    df["branch_id"] = branch_id
    engine.dispose()
    return df


# ---- Load BOTH databases ----
print("Loading Delhi...")
df_delhi = load_features_from_db(os.getenv("DELHI_DB"), branch_id=0)
print("Delhi rows:", len(df_delhi))

print("Loading Mumbai...")
df_mumbai = load_features_from_db(os.getenv("MUMBAI_DB"), branch_id=1)
print("Mumbai rows:", len(df_mumbai))

# Merge
df = pd.concat([df_delhi, df_mumbai], ignore_index=True)
df.head()

Loading Delhi...
Delhi rows: 19
Loading Mumbai...
Mumbai rows: 5

,txn_id,customer_id,amount,txn_timestamp,balance,txn_type_num,branch_id
0,3,3,75000.0,1.760090e+09,75000.0,0,0
1,4,4,15000.0,1.760090e+09,62000.0,0,0
2,5,5,100000.0,1.760090e+09,200000.0,0,0
3,17,2,1000.0,1.762506e+09,153000.0,0,0
4,15,2,1000.0,1.762506e+09,153000.0,0,0

### Preprocess Features

In [57]:
from sklearn.preprocessing import StandardScaler

# Select only numeric features for model training
feature_cols = ["amount",  "balance","txn_timestamp", "txn_type_num"]

df_train = df[feature_cols].copy()

# Handle missing values (if any)
df_train = df_train.fillna(0)

# Scale the data
scaler = StandardScaler()
X_scaled = scaler.fit_transform(df_train)

print("Shape:", X_scaled.shape)
print("Sample:", X_scaled[:5])

Shape: (24, 4)
Sample: [[ 0.819231   -0.26838452 -0.82875211  0.        ]
 [-0.28122855 -0.50228388 -0.82875211  0.        ]
 [ 1.27775582  1.98064776 -0.82875211  0.        ]
 [-0.53800245  1.13501162  1.29816245  0.        ]
 [-0.53800245  1.13501162  1.29815066  0.        ]]

### Train the Isolation Forest model

In [59]:
from sklearn.ensemble import IsolationForest
import joblib

# Train the model
iso = IsolationForest(
    n_estimators=200,
    contamination=0.1,   # ~10% anomalies (adjustable)
    random_state=42
)

iso.fit(X_scaled)

print("Model trained successfully!")

Model trained successfully!

### Save the model + scaler

In [61]:
from sklearn.ensemble import IsolationForest
from sklearn.preprocessing import StandardScaler
import pandas as pd
import joblib
import os

# Example training data
df_train = pd.DataFrame({
    'amount': [1000, 50000, 300, 20000, 4000],
    'balance': [5000, 100000, 1500, 4000, 60000],
    'txn_timestamp': [1699999999, 1700009999, 1700019999, 1700029999, 1700039999],
    'txn_type_num': [0, 1, 0, 1, 0],
})

# Scale features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(df_train)

# Train Isolation Forest
iso_model = IsolationForest(contamination=0.1, random_state=42)
iso_model.fit(X_scaled)

# Save both
os.makedirs("bank_project/models", exist_ok=True)
joblib.dump(iso_model, "bank_project/models/iso_model.pkl")
joblib.dump(scaler, "bank_project/models/scaler.pkl")

print("Saved model and scaler to models folder")

Saved model and scaler to models folder

In [27]:
import os

print("Current working directory:", os.getcwd())
print("Files in bank_project/models:", os.listdir("bank_project/models") if os.path.exists("bank_project/models") else "Folder does not exist")

Current working directory: C:\Users\VICTUS\BANKING SYSTEM\bank_project
Files in bank_project/models: ['iso_model.pkl', 'scaler.pkl']

Saved model to: bank_project/models/iso_model.pkl
Saved scaler to: bank_project/models/scaler.pkl

### Detect anomalies

In [71]:
import pandas as pd
import joblib

# Paths
MODEL_PATH = "bank_project/models/iso_model.pkl"
SCALER_PATH = "bank_project/models/scaler.pkl"

# Load model and scaler
iso_model = joblib.load(MODEL_PATH)
scaler = joblib.load(SCALER_PATH)

# Example test dataframe
df_test = pd.DataFrame({
    'txn_id': [1, 2, 3, 4, 5],
    'customer_id': [101, 102, 103, 104, 105],
    'txn_type': ['deposit', 'withdraw', 'deposit', 'withdraw', 'deposit'],
    'txn_time': pd.to_datetime([
        '2025-11-16 09:00', 
        '2025-11-16 23:30', 
        '2025-11-16 14:00', 
        '2025-11-16 07:00', 
        '2025-11-16 16:00'
    ]),
    'amount': [1000, 70000, 300, 25000, 4000],
    'balance': [5000, 100000, 1500, 4000, 60000]
})

# Prepare ML features
df_test['txn_type_num'] = df_test['txn_type'].map({'deposit': 0, 'withdraw': 1}).fillna(0)
df_test['txn_timestamp'] = df_test['txn_time'].astype('int64') // 10**9

# Select features in SAME order as training
feature_cols = ["amount", "balance", "txn_timestamp", "txn_type_num"]
X_test_scaled = scaler.transform(df_test[feature_cols].fillna(0))

# Predict anomalies
df_test['fraud_flag'] = iso_model.predict(X_test_scaled)  # -1 = anomaly, 1 = normal
df_test['fraud_flag'] = df_test['fraud_flag'].map({1: 0, -1: 1})  # 1 = fraud

# Show results
print(df_test[['txn_id', 'customer_id', 'amount', 'balance', 'txn_type', 'fraud_flag']])

   txn_id  customer_id  amount  balance  txn_type  fraud_flag
0       1          101    1000     5000   deposit           0
1       2          102   70000   100000  withdraw           1
2       3          103     300     1500   deposit           0
3       4          104   25000     4000  withdraw           0
4       5          105    4000    60000   deposit           0

### hybrid function

In [81]:
import pandas as pd

def detect_fraud(df, model, scaler):
    """
    Hybrid fraud detection: rule-based + ML-based
    df: transaction dataframe with columns ['txn_id', 'customer_id', 'amount', 'txn_type', 'txn_time', 'balance']
    model: trained IsolationForest model
    scaler: trained StandardScaler
    Returns: fraud_alerts dataframe
    """
    df = df.copy()
    
    # ---------------------
    # 1️⃣ Rule-Based Checks
    # ---------------------
    df['rule_flag'] = 0
    
    # Ensure amount and balance columns exist
    df['amount'] = pd.to_numeric(df.get('amount', 0), errors='coerce').fillna(0)
    df['balance'] = pd.to_numeric(df.get('balance', 0), errors='coerce').fillna(0)
    
    # Rule 1: Large transaction (>50k)
    df.loc[df['amount'] > 50000, 'rule_flag'] = 1
    
    # Rule 2: Transactions outside 8AM–8PM
    if 'txn_time' in df.columns:
        df['txn_time'] = pd.to_datetime(df['txn_time'], errors='coerce')
        df['txn_hour'] = df['txn_time'].dt.hour.fillna(0)
        df.loc[(df['txn_hour'] < 8) | (df['txn_hour'] > 20), 'rule_flag'] = 1
    else:
        df['txn_hour'] = 0
    
    # Rule 3: Withdrawals higher than current balance
    df['txn_type'] = df.get('txn_type', 'deposit')
    df.loc[(df['txn_type'] == 'withdraw') & (df['amount'] > df['balance']), 'rule_flag'] = 1
    
    # ---------------------
    # 2️⃣ Prepare ML Features
    # ---------------------
    df['txn_type_num'] = df['txn_type'].map({'deposit': 0, 'withdraw': 1}).fillna(0)
    df['txn_timestamp'] = df['txn_time'].astype('int64') // 10**9 if 'txn_time' in df.columns else 0
    
    # Correct feature order: amount, txn_type_num, txn_timestamp, balance
    feature_cols = ['amount', 'balance', 'txn_timestamp', 'txn_type_num']
    
    X_scaled = scaler.transform(df[feature_cols].fillna(0))
    
    # ---------------------
    # 3️⃣ ML-Based Detection
    # ---------------------
    df['ml_flag'] = model.predict(X_scaled)
    df['ml_flag'] = df['ml_flag'].map({1: 0, -1: 1})  # 1 = fraud, 0 = normal
    
    # ---------------------
    # 4️⃣ Combine Flags
    # ---------------------
    df['fraud_flag'] = df[['rule_flag', 'ml_flag']].max(axis=1)
    
    # ---------------------
    # 5️⃣ Prepare Alerts
    # ---------------------
    fraud_alerts = df[df['fraud_flag'] == 1][['txn_id', 'customer_id']].copy()
    fraud_alerts['alert_type'] = df.loc[fraud_alerts.index, 'ml_flag'].map({1: 'ml', 0: 'rule'})
    fraud_alerts['score'] = df.loc[fraud_alerts.index, 'ml_flag']  # ML score for info
    fraud_alerts['message'] = "Potential fraud detected."
    fraud_alerts['detected_at'] = pd.Timestamp.now()
    
    return fraud_alerts

In [83]:
fraud_alerts = detect_fraud(df_test, iso_model, scaler)
print(fraud_alerts)

   txn_id  customer_id alert_type  score                    message  \
1       2          102         ml      1  Potential fraud detected.
3       4          104       rule      0  Potential fraud detected.

                 detected_at
1 2025-11-16 18:43:20.463235
3 2025-11-16 18:43:20.463235

In [32]:
print(df_delhi.dtypes)

txn_id             int64
customer_id        int64
amount           float64
txn_timestamp    float64
balance          float64
txn_type_num       int64
branch_id          int64
dtype: object